
<style>
    .titulo {
        text-align: center; /* Alineación centrada */
    }

    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Repartir el ancho en 3 columnas iguales */
    }
</style>

<h1 class="titulo">Ordenes</h1>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Total</th>
            <!-- Otros encabezados de columnas -->
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

