
@{
}
<h1>Stuff - Nav</h1>
<style>
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Repartir el ancho en 3 columnas iguales */
    }
</style>

<div class="contenedor">
    <div>Contenido de la columna 1</div>
    <div>Contenido de la columna 2</div>
    <div>Contenido de la columna 3</div>
</div>